$root-black: #262626;
$root-white: #fff;
$root-orange: #e15214;
$second-orange: #B34B1E;
$third-orange: #E85925;
$root-yellow: #b58e00;
$second-yellow: #FFDA54;
$third-yellow: #E8B600;
$root-gray: #727272;
$second-gray: #c5c5c5;
$third-gray: #6a6a6a;
$fourth-gray: #828282;
$fifth-gray: #F8F8F8;
$md-transition-duration: 0.5s;
$sm-transition-duration: 0.4s;
$root-shadow:
  0px 0.25rem 2rem 0px rgba(0, 0, 0, 0.04),
  0px 0px 1.25rem 0px rgba(0, 0, 0, 0.06);
$root-container-width-desktop: 89%;
$root-container-width-mobile: 95%;
$root-border-radius: 0.5rem;
$sxl-font-size: 2rem;
$xl-font-size: 1.25rem;
$lg-font-size: 1rem;
$md-font-size: 0.875rem;
$sm-font-size: 0.75rem;
$xsm-font-size: 0.675rem;
$xs-font-size: 0.5rem;

