.breadcrumb__container {
  @include flexRowContainer();
  width: $root-container-width-desktop;
  margin: auto;
  gap: 0.5rem;
  margin-top: 2rem;
  @include forMobile() {
    width: $root-container-width-mobile;
    margin-top: 1rem
  }
}

.breadcrumb__link__container {
  @include flexRowContainer();
  gap: 0.25rem;
}

.breadcrumb__home__icon {
  width: 1rem;
  height: 1rem;
}

.breadcrumb__arrow__right__icon {
  width: 0.2rem;
  height: 0.4rem;
}

.breadcrumb__link__text {
  font-size: $sm-font-size;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 0.9rem */
  letter-spacing: 0.00375rem;
  color: $second-gray;
}

.breadcrumb__link__text__active {
  color: $root-black;
}
