.header__desktop {
  background-color: $root-white;
  backdrop-filter: blur(5px);
  box-shadow: $root-box-shadow;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  .header__deco {
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 59.38%,
      $root-white 63.55%,
      $root-white 99.99%,
      $root-white 100%
    );
    box-shadow: $root-box-shadow;
    top: 0;
    left: 0;
    z-index: -1;
    left: calc((100dvw - $container-width-desktop) / 2);
    @include circle(5.7rem);
  }

  .header__container {
    @include flexRowContainer();
    font-family: "Heavitas", sans-serif;
    width: 100dvw;
    height: 3.625rem;
    margin: auto;
    background-color: $root-white;

    .header__logo__link {
      position: absolute;
      @include circle(5.7rem);
      flex: none;
      top: 6%;
      left: calc((100dvw - $container-width-desktop) / 2 + 0.1rem);
      .header__logo {
        @include positionCenter();
        width: 4.51988rem;
        height: 3.94294rem;
      }
    }

    .header__nav {
      margin-left: auto;
      @include flexRowContainer();

      .header__nav__link {
        flex: none;
        margin-top: 0.3rem;
        margin-left: 2.25rem;
        padding: 0.25rem 0;
        color: $grey-80;
        font-family: "Heavitas", sans-serif;
        position: relative;
        cursor: pointer;
        .dropdown__icon {
          flex: none;
          margin-bottom: 0.2rem;
          margin-left: 0.5rem;
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .header__button__search {
      margin-left: 2.12rem;
      padding: 0.5rem 0.5rem;
      margin-right: calc((100dvw - $container-width-desktop) / 2);

      .search__icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.header__tooltip__trigger {
  position: relative;
  @include flexRowContainer();
}

.header__tooltip__container:hover .header__tooltip__content__container {
  opacity: 1;
  pointer-events: all;
}

.header__tooltip__container {
  display: flex;
  flex-direction: column;
}
.header__tooltip__content__container {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: max-content;
  z-index: 1;
  cursor: default;
  opacity: 0;
  pointer-events: none;
  transition: all $md-transition-duration ease-out;
}
.header__tooltip__content {
  position: relative;
  margin-top: 1.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $root-white;
  box-shadow: $root-box-shadow;
  padding: 1.25rem;
  border-radius: $md-border-radius;
  gap: 2.75rem;
}

.header__tooltip__link__container {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__tooltip__link__text {
  font-family: "Heavitas", sans-serif;
  transition: all $md-transition-duration ease-out;
  padding: 0.25rem 0;
  &:hover {
    color: $orange-650;
  }
}

.header__tooltip__arrow {
  position: absolute;
  background-color: $root-white;
  transform: rotate(45deg) translate(-50%, -100%);
  top: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}

.header__tooltip__image {
  width: 33.1875rem;
  height: 17.8125rem;
  object-fit: cover;
  border-radius: $md-border-radius;
}

.header__tooltip__seeAll {
  @include flexRowContainer();
  gap: 0.5rem;
  position: absolute;
  left: auto;
  bottom: 0.25rem;
  transform: translate(0, -100%);
  &:hover .header__tooltip__seeAll__text {
    color: $orange-650;
  }
}

.header__tooltip__seeAll__icon {
  width: 1rem;
  height: 1rem;
}

.header__tooltip__seeAll__text {
  margin-top: 0.2rem;
  transition: all $md-transition-duration ease-out;
}

.header__tooltip__link__text__container {
  @include flexRowContainer();
  gap: 0.5rem;
  &:hover .header__tooltip__link__text {
    color: $orange-650;
  }
}

.header__tooltip__link__icon {
  flex: none;
  margin-bottom: 0.2rem;
}

.header__phone {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 2;
  width: 100%;
  @include flexRowContainer();
  align-items: flex-start;
  flex-direction: row;
  display: none;
}

.header__phone__logo {
  flex: none;
}

.header__phone__hamburger {
  margin-left: auto;
  flex: none;
}

@include forMobile() {
  .header__desktop {
    display: none;
  }
  .header__phone {
    display: flex;
  }
}
