@import "./reset";
@import "./variables/variables";
@import "./mixin/mixin";
@import "./section/header";
@import "./section/section1";
@import "./section/breadcrumb";
@import "./section/section2";
@import "./section/section3";
@import "./section/section4";

@include font("Heavitas", "../assets/font/Heavitas.otf");

* {
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  color: $root-black;
}

@include forMobile {
  * {
    font-size: 4.267vw;
  }
}

body {
  min-height: 100dvh;
}

// TODO: add alt for img
// TODO: html sematic refactoring
// TODO: flex change gap -> margin
